<div class="flex-container">

    <!-- FRANCHISE -->
    <a class="none" href="{{ path('spaceship_sort') }}?sortBy=franchise" style="color:white">
        <div class="Button_Sorting">
                <span> Sort by Franchise </span>
        </div>
    </a>

    <!-- PURPOSE -->
    <a class="none" href="{{ path('spaceship_sort') }}?sortBy=purpose   " style="color:white">
        <div class="Button_Sorting">
                <span> Sort by Purpose </span>
        </div>
    </a>

    <!-- SIZE -->
    <a class="none" href="{{ path('spaceship_sort') }}?sortBy=size" style="color:white">
        <div class="Button_Sorting">
                <span> Sort by Size </span>
        </div>
    </a>

</div>