<!-- BUTTONS OF THE TITLE PAGE -->
<div style="display: flex; justify-content: flex-end">
    <a href="{{ path('mainpage') }}">
        <div class="Button_Small">
             <span>Main Page</span> 
        </div>
	</a>
</div>